/*-------------------------------------------------------------------------*/
/* Browser Reset
/*-------------------------------------------------------------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  outline: none;
}

html {
  height: 100%;
  position: relative;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  position: relative;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
object,
video,
audio,
embed,
canvas,
iframe,
main,
summary {
  display: block;
}

video,
audio,
progress,
canvas {
  vertical-align: baseline;
}

video {
  background-color: #000000;
}

template,
[hidden],
audio:not([controls]) {
  display: none;
}

audio:not([controls]) {
  height: 0;
}

iframe {
  max-width: 100%;
}

abbr,
address,
progress {
  display: inline-block;
  text-decoration: none;
}

abbr:not([class]),
acronym {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

h4,
h5,
h6 {
  letter-spacing: normal;
}

#middle ul:after,
#bottom ul:after,
#middle ol:after,
#bottom ol:after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}

dl {
  display: block;
  overflow: hidden;
}

dt {
  display: block;
  font-weight: bold;
  overflow: hidden;
}

dd {
  display: block;
  overflow: hidden;
}

q:before,
q:after {
  content: none;
}

del {
  text-decoration: line-through;
}

table {
  width: 100%;
}

img {
  display: inline-block;
  color: transparent;
  height: auto;
  font-size: 0;
  vertical-align: middle;
  max-width: 100%;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: auto;
  image-rendering: auto;
  -ms-interpolation-mode: bicubic;
}

img.wp-smiley,
img.emoji {
  font-size: 1em;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
}

figure {
  background-image: none !important;
}

fieldset {
  margin: 25px 2px 30px;
  padding: 1.5em 1em .5em;
  border-width: 0;
  border-style: solid;
}

fieldset legend {
  padding: 3px 10px;
  margin-top: -25px;
}

input {
  line-height: normal;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

textarea {
  resize: vertical;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

optgroup {
  font-weight: bold;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
}

input[type=submit],
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

select {
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
  pointer-events: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type=text]::-ms-clear {
  display: none;
}

p:empty {
  display: none;
}

:focus {
  outline: 0;
}

pre,
code,
kbd,
samp {
  background-color: transparent;
  color: inherit;
  font-family: monospace;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  font-style: inherit;
  letter-spacing: 1px;
}

pre {
  white-space: pre-wrap;
}

pre a {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  font-style: inherit;
  letter-spacing: inherit;
}

code {
  display: inline-block;
}

code a {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  font-style: inherit;
  letter-spacing: inherit;
}

svg:not(:root) {
  overflow: hidden;
}

sub,
sup,
small {
  font-size: 75%;
}

sub,
sup {
  line-height: 0;
  position: relative;
}

sup {
  vertical-align: super;
}

sub {
  vertical-align: sub;
}

b,
strong {
  font-weight: bold;
}

th,
td,
caption {
  font-weight: normal;
}

dfn {
  font-style: italic;
}

hr {
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

mark {
  color: #000000;
}

.sticky,
.bypostauthor,
.screen-reader-text {
  outline: none;
}

.call-buton .cc-calto-action-ripple {
  z-index: 99999;
  position: fixed;
  left: 57px;
  bottom: 10rem;
  background: #00d36a;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  border-radius: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #ffffff;
  -webkit-animation: cc-calto-action-ripple 0.6s linear infinite;
  animation: cc-calto-action-ripple 0.6s linear infinite;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.call-buton .cc-calto-action-ripple i {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-size: 1.5rem;
  position: relative;
  left: 7px;
}

.call-buton .cc-calto-action-ripple:hover i {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

@-webkit-keyframes cc-calto-action-ripple {
  0% {
    -webkit-box-shadow: 0 4px 10px rgba(0, 236, 83, 0.2), 0 0 0 0 rgba(236, 139, 0, 0.2), 0 0 0 5px rgba(0, 236, 51, 0.2), 0 0 0 10px rgba(0, 236, 142, 0.2);
    box-shadow: 0 4px 10px rgba(0, 236, 71, 0.2), 0 0 0 0 rgba(0, 236, 59, 0.2), 0 0 0 5px rgba(0, 236, 106, 0.2), 0 0 0 10px rgba(0, 236, 122, 0.2);
  }

  100% {
    -webkit-box-shadow: 0 4px 10px rgba(0, 236, 142, 0.2), 0 0 0 5px rgba(0, 236, 106, 0.2), 0 0 0 10px rgba(0, 236, 138, 0.2), 0 0 0 20px rgba(0, 236, 51, 0);
    box-shadow: 0 4px 10px rgba(0, 236, 79, 0.2), 0 0 0 5px rgba(0, 236, 90, 0.2), 0 0 0 10px rgba(0, 236, 51, 0.2), 0 0 0 20px rgba(0, 236, 31, 0);
  }
}

@keyframes cc-calto-action-ripple {
  0% {
    -webkit-box-shadow: 0 4px 10px rgba(0, 236, 83, 0.2), 0 0 0 0 rgba(236, 139, 0, 0.2), 0 0 0 5px rgba(0, 236, 51, 0.2), 0 0 0 10px rgba(0, 236, 142, 0.2);
    box-shadow: 0 4px 10px rgba(0, 236, 71, 0.2), 0 0 0 0 rgba(0, 236, 59, 0.2), 0 0 0 5px rgba(0, 236, 106, 0.2), 0 0 0 10px rgba(0, 236, 122, 0.2);
  }

  100% {
    -webkit-box-shadow: 0 4px 10px rgba(0, 236, 142, 0.2), 0 0 0 5px rgba(0, 236, 106, 0.2), 0 0 0 10px rgba(0, 236, 138, 0.2), 0 0 0 20px rgba(0, 236, 51, 0);
    box-shadow: 0 4px 10px rgba(0, 236, 79, 0.2), 0 0 0 5px rgba(0, 236, 90, 0.2), 0 0 0 10px rgba(0, 236, 51, 0.2), 0 0 0 20px rgba(0, 236, 31, 0);
  }
}

/* .call__icnnnn span.num {
  position: absolute;
  color: #00d36a;
  left: -30%;
  bottom: -50%;
} */

.view_more_reviews {
  text-align: center;
}

.view_more_reviews a {
  background-color: #fd614a;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  padding: 5px 20px;
  text-decoration: none;
}

.floating_btn_custom a {
  text-decoration: none;
}

.floating_btn_custom {
  position: fixed;
  bottom: 30px;
  left: 30px;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

@keyframes pulsing {
  to {
    box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
  }
}

.floating_btn_custom .contact_icon {
  background-color: #42db87;
  color: #fff;
  width: 50px;
  height: 50px;
  font-size: 25px;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translatey(0px);
  animation: pulse 1.5s infinite;
  box-shadow: 0 0 0 0 #42db87;
  -webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  font-weight: normal;
  font-family: sans-serif;
  text-decoration: none !important;
  transition: all 300ms ease-in-out;
}


.floating_btn_custom .text_icon {
  margin-top: 8px;
  color: #707070;
  font-size: 13px;
}

/* *****  GALLERIES ***** */

#lightgallery_area {
  padding: 60px 0 50px;
}

#lightgallery_area .photos-grid-container {
  overflow: hidden;
  height: 600px !important;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0;
  align-items: start;

  @media (max-width: 580px) {
    grid-template-columns: 1fr;
  }

  .img-box {
    border: 1px solid #ffffff;
    position: relative;
  }

  .img-box img {
    height: 300px;
  }

  .main-photo.img-box img {
    height: 600px !important;
  }

  .img-box:hover .transparent-box {
    background-color: rgba(0, 0, 0, 0.6);
  }

  .img-box:hover .caption {
    transform: translateY(-5px);
  }

  img {
    max-width: 100%;
    display: block;
    height: auto;
  }

  .caption {
    color: white;
    transition: transform 0.3s ease, opacity 0.3s ease;
    font-size: 1.5rem;
  }

  .transparent-box {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-photo {
    grid-row: 1;
    grid-column: 1;
    height: 500px;
  }

  .sub {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0em;

    &:nth-child(0) {
      grid-column: 1;
      grid-row: 1;
    }

    &:nth-child(1) {
      grid-column: 2;
      grid-row: 1;
    }

    &:nth-child(2) {
      grid-column: 1;
      grid-row: 2;
    }

    &:nth-child(3) {
      grid-column: 2;
      grid-row: 2;
    }
  }
}

.hide-element {
  border: 0;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}


/* about us  */

.about_usgallery .imgWrapper.last_inmmg {
  display: none;
}

.about__container {
  width: 100%;
  height: 100%;
  /* max-width: 1170px; */
  display: grid;
  grid-template-columns: 55% 45%;
  align-items: center;
  grid-gap: 60px;
  padding: 35px 0;
}

.contentLeft,
.contentRight {
  width: 100%;
}

.contentLeft .row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.contentLeft .row .imgWrapper {
  width: 100%;
  height: 450px;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.15);
}

.contentLeft .row .imgWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
  transition: 0.3s ease;
}

.contentLeft .row .imgWrapper:hover img {
  transform: scale(1.5);
}

.contentLeft .row .imgWrapper:nth-child(odd) {
  transform: translateY(-20px);
}

.contentLeft .row .imgWrapper:nth-child(even) {
  transform: translateY(20px);
}

.contentRight .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.contentRight .content h4 {
  font-size: 22px;
  font-weight: 400;
  color: #d35400;
}

.contentRight .content h2 {
  font-size: 40px;
  color: #1e272e;
}

.contentRight .content p {
  font-size: 16px;
  color: #343434;
  line-height: 28px;
  padding-bottom: 10px;
}

.contentRight .content a {
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 13px 30px;
  color: #fff;
  /* background: #d35400; */
  background-color: #ff792f;
  border-color: #ff792f;
  border-radius: 8px;
  user-select: none;
}

.cmsmasters_slider_project_title.entry-title a:hover {
  color: #ff792f;
}

@media(max-width:1024px) {
  #lightgallery_area .photos-grid-container {
    height: 500px !important;
  }

  #lightgallery_area .photos-grid-container .img-box img {
    height: 250px !important;
  }

  #lightgallery_area .photos-grid-container .main-photo.img-box img {
    height: 500px !important;
  }

  #cmsmasters_row_cca20e92e8 .cmsmasters_row_outer_parent {
    padding-bottom: 80px;
  }

  #cmsmasters_row_cca20e92e8 .cmsmasters_row_outer_parent {
    padding-top: 60px;
  }

  #cmsmasters_heading_b96f5d1f42 .cmsmasters_text p {
    font-size: 16px;
    font-weight: 500;
  }


}


@media(max-width:991px) {
  .about__container {
    grid-template-columns: 50% 45%;
    grid-gap: 45px;
  }
}

@media(max-width:800px) {
  .about_usgallery .imgWrapper.last_inmmg {
    display: block;
  }
}

@media(max-width: 768px) {
  .about__container {
    grid-template-columns: 1fr;
  }

  .contentLeft .row {
    grid-template-columns: repeat(2, 1fr);
  }

  .contentLeft .row .imgWrapper {
    height: 150px;
  }

  .contentRight .content h4 {
    font-size: 18px;
  }

  .contentRight .content h2 {
    font-size: 30px;
  }
}

@media(max-width:768px) {
  .call-buton .cc-calto-action-ripple {
    left: 20px;
  }

  .floating_btn_custom {
    left: -5px;
  }
}


.footer_socialsss {
  padding-left: 0 !important;
}

.footer_socialsss:hover {
  background-color: unset;
  background: unset;
}

.footer_socialsss a {
  background-color: unset !important;
  background: unset;
  color: #ff4e50 !important;
}

.googlereviewrating img {
  height: 100px;
  margin-top: 15px;
}

/* about us  */


/* <style id='global-styles-inline-css' type='text/css'>
		body {
			--wp--preset--color--black: #000000;
			--wp--preset--color--cyan-bluish-gray: #abb8c3;
			--wp--preset--color--white: #ffffff;
			--wp--preset--color--pale-pink: #f78da7;
			--wp--preset--color--vivid-red: #cf2e2e;
			--wp--preset--color--luminous-vivid-orange: #ff6900;
			--wp--preset--color--luminous-vivid-amber: #fcb900;
			--wp--preset--color--light-green-cyan: #7bdcb5;
			--wp--preset--color--vivid-green-cyan: #00d084;
			--wp--preset--color--pale-cyan-blue: #8ed1fc;
			--wp--preset--color--vivid-cyan-blue: #0693e3;
			--wp--preset--color--vivid-purple: #9b51e0;
			--wp--preset--color--color-1: #716f6e;
			--wp--preset--color--color-2: #ff4e50;
			--wp--preset--color--color-3: #ff792f;
			--wp--preset--color--color-4: #242120;
			--wp--preset--color--color-5: #f5f0f0;
			--wp--preset--color--color-6: #d8d3d1;
			--wp--preset--color--color-7: #e3dfde;
			--wp--preset--color--color-8: #ffffff;
			--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg, rgba(6, 147, 227, 1) 0%, rgb(155, 81, 224) 100%);
			--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg, rgb(122, 220, 180) 0%, rgb(0, 208, 130) 100%);
			--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg, rgba(252, 185, 0, 1) 0%, rgba(255, 105, 0, 1) 100%);
			--wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg, rgba(255, 105, 0, 1) 0%, rgb(207, 46, 46) 100%);
			--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg, rgb(238, 238, 238) 0%, rgb(169, 184, 195) 100%);
			--wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg, rgb(74, 234, 220) 0%, rgb(151, 120, 209) 20%, rgb(207, 42, 186) 40%, rgb(238, 44, 130) 60%, rgb(251, 105, 98) 80%, rgb(254, 248, 76) 100%);
			--wp--preset--gradient--blush-light-purple: linear-gradient(135deg, rgb(255, 206, 236) 0%, rgb(152, 150, 240) 100%);
			--wp--preset--gradient--blush-bordeaux: linear-gradient(135deg, rgb(254, 205, 165) 0%, rgb(254, 45, 45) 50%, rgb(107, 0, 62) 100%);
			--wp--preset--gradient--luminous-dusk: linear-gradient(135deg, rgb(255, 203, 112) 0%, rgb(199, 81, 192) 50%, rgb(65, 88, 208) 100%);
			--wp--preset--gradient--pale-ocean: linear-gradient(135deg, rgb(255, 245, 203) 0%, rgb(182, 227, 212) 50%, rgb(51, 167, 181) 100%);
			--wp--preset--gradient--electric-grass: linear-gradient(135deg, rgb(202, 248, 128) 0%, rgb(113, 206, 126) 100%);
			--wp--preset--gradient--midnight: linear-gradient(135deg, rgb(2, 3, 129) 0%, rgb(40, 116, 252) 100%);
			--wp--preset--font-size--small: 13px;
			--wp--preset--font-size--medium: 20px;
			--wp--preset--font-size--large: 36px;
			--wp--preset--font-size--x-large: 42px;
			--wp--preset--spacing--20: 0.44rem;
			--wp--preset--spacing--30: 0.67rem;
			--wp--preset--spacing--40: 1rem;
			--wp--preset--spacing--50: 1.5rem;
			--wp--preset--spacing--60: 2.25rem;
			--wp--preset--spacing--70: 3.38rem;
			--wp--preset--spacing--80: 5.06rem;
			--wp--preset--shadow--natural: 6px 6px 9px rgba(0, 0, 0, 0.2);
			--wp--preset--shadow--deep: 12px 12px 50px rgba(0, 0, 0, 0.4);
			--wp--preset--shadow--sharp: 6px 6px 0px rgba(0, 0, 0, 0.2);
			--wp--preset--shadow--outlined: 6px 6px 0px -3px rgba(255, 255, 255, 1), 6px 6px rgba(0, 0, 0, 1);
			--wp--preset--shadow--crisp: 6px 6px 0px rgba(0, 0, 0, 1);
		}

		:where(.is-layout-flex) {
			gap: 0.5em;
		}

		:where(.is-layout-grid) {
			gap: 0.5em;
		}

		body .is-layout-flex {
			display: flex;
		}

		body .is-layout-flex {
			flex-wrap: wrap;
			align-items: center;
		}

		body .is-layout-flex>* {
			margin: 0;
		}

		body .is-layout-grid {
			display: grid;
		}

		body .is-layout-grid>* {
			margin: 0;
		}

		:where(.wp-block-columns.is-layout-flex) {
			gap: 2em;
		}

		:where(.wp-block-columns.is-layout-grid) {
			gap: 2em;
		}

		:where(.wp-block-post-template.is-layout-flex) {
			gap: 1.25em;
		}

		:where(.wp-block-post-template.is-layout-grid) {
			gap: 1.25em;
		}

		.has-black-color {
			color: var(--wp--preset--color--black) !important;
		}

		.has-cyan-bluish-gray-color {
			color: var(--wp--preset--color--cyan-bluish-gray) !important;
		}

		.has-white-color {
			color: var(--wp--preset--color--white) !important;
		}

		.has-pale-pink-color {
			color: var(--wp--preset--color--pale-pink) !important;
		}

		.has-vivid-red-color {
			color: var(--wp--preset--color--vivid-red) !important;
		}

		.has-luminous-vivid-orange-color {
			color: var(--wp--preset--color--luminous-vivid-orange) !important;
		}

		.has-luminous-vivid-amber-color {
			color: var(--wp--preset--color--luminous-vivid-amber) !important;
		}

		.has-light-green-cyan-color {
			color: var(--wp--preset--color--light-green-cyan) !important;
		}

		.has-vivid-green-cyan-color {
			color: var(--wp--preset--color--vivid-green-cyan) !important;
		}

		.has-pale-cyan-blue-color {
			color: var(--wp--preset--color--pale-cyan-blue) !important;
		}

		.has-vivid-cyan-blue-color {
			color: var(--wp--preset--color--vivid-cyan-blue) !important;
		}

		.has-vivid-purple-color {
			color: var(--wp--preset--color--vivid-purple) !important;
		}

		.has-black-background-color {
			background-color: var(--wp--preset--color--black) !important;
		}

		.has-cyan-bluish-gray-background-color {
			background-color: var(--wp--preset--color--cyan-bluish-gray) !important;
		}

		.has-white-background-color {
			background-color: var(--wp--preset--color--white) !important;
		}

		.has-pale-pink-background-color {
			background-color: var(--wp--preset--color--pale-pink) !important;
		}

		.has-vivid-red-background-color {
			background-color: var(--wp--preset--color--vivid-red) !important;
		}

		.has-luminous-vivid-orange-background-color {
			background-color: var(--wp--preset--color--luminous-vivid-orange) !important;
		}

		.has-luminous-vivid-amber-background-color {
			background-color: var(--wp--preset--color--luminous-vivid-amber) !important;
		}

		.has-light-green-cyan-background-color {
			background-color: var(--wp--preset--color--light-green-cyan) !important;
		}

		.has-vivid-green-cyan-background-color {
			background-color: var(--wp--preset--color--vivid-green-cyan) !important;
		}

		.has-pale-cyan-blue-background-color {
			background-color: var(--wp--preset--color--pale-cyan-blue) !important;
		}

		.has-vivid-cyan-blue-background-color {
			background-color: var(--wp--preset--color--vivid-cyan-blue) !important;
		}

		.has-vivid-purple-background-color {
			background-color: var(--wp--preset--color--vivid-purple) !important;
		}

		.has-black-border-color {
			border-color: var(--wp--preset--color--black) !important;
		}

		.has-cyan-bluish-gray-border-color {
			border-color: var(--wp--preset--color--cyan-bluish-gray) !important;
		}

		.has-white-border-color {
			border-color: var(--wp--preset--color--white) !important;
		}

		.has-pale-pink-border-color {
			border-color: var(--wp--preset--color--pale-pink) !important;
		}

		.has-vivid-red-border-color {
			border-color: var(--wp--preset--color--vivid-red) !important;
		}

		.has-luminous-vivid-orange-border-color {
			border-color: var(--wp--preset--color--luminous-vivid-orange) !important;
		}

		.has-luminous-vivid-amber-border-color {
			border-color: var(--wp--preset--color--luminous-vivid-amber) !important;
		}

		.has-light-green-cyan-border-color {
			border-color: var(--wp--preset--color--light-green-cyan) !important;
		}

		.has-vivid-green-cyan-border-color {
			border-color: var(--wp--preset--color--vivid-green-cyan) !important;
		}

		.has-pale-cyan-blue-border-color {
			border-color: var(--wp--preset--color--pale-cyan-blue) !important;
		}

		.has-vivid-cyan-blue-border-color {
			border-color: var(--wp--preset--color--vivid-cyan-blue) !important;
		}

		.has-vivid-purple-border-color {
			border-color: var(--wp--preset--color--vivid-purple) !important;
		}

		.has-vivid-cyan-blue-to-vivid-purple-gradient-background {
			background: var(--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple) !important;
		}

		.has-light-green-cyan-to-vivid-green-cyan-gradient-background {
			background: var(--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan) !important;
		}

		.has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background {
			background: var(--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange) !important;
		}

		.has-luminous-vivid-orange-to-vivid-red-gradient-background {
			background: var(--wp--preset--gradient--luminous-vivid-orange-to-vivid-red) !important;
		}

		.has-very-light-gray-to-cyan-bluish-gray-gradient-background {
			background: var(--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray) !important;
		}

		.has-cool-to-warm-spectrum-gradient-background {
			background: var(--wp--preset--gradient--cool-to-warm-spectrum) !important;
		}

		.has-blush-light-purple-gradient-background {
			background: var(--wp--preset--gradient--blush-light-purple) !important;
		}

		.has-blush-bordeaux-gradient-background {
			background: var(--wp--preset--gradient--blush-bordeaux) !important;
		}

		.has-luminous-dusk-gradient-background {
			background: var(--wp--preset--gradient--luminous-dusk) !important;
		}

		.has-pale-ocean-gradient-background {
			background: var(--wp--preset--gradient--pale-ocean) !important;
		}

		.has-electric-grass-gradient-background {
			background: var(--wp--preset--gradient--electric-grass) !important;
		}

		.has-midnight-gradient-background {
			background: var(--wp--preset--gradient--midnight) !important;
		}

		.has-small-font-size {
			font-size: var(--wp--preset--font-size--small) !important;
		}

		.has-medium-font-size {
			font-size: var(--wp--preset--font-size--medium) !important;
		}

		.has-large-font-size {
			font-size: var(--wp--preset--font-size--large) !important;
		}

		.has-x-large-font-size {
			font-size: var(--wp--preset--font-size--x-large) !important;
		}

		.wp-block-navigation a:where(:not(.wp-element-button)) {
			color: inherit;
		}

		:where(.wp-block-post-template.is-layout-flex) {
			gap: 1.25em;
		}

		:where(.wp-block-post-template.is-layout-grid) {
			gap: 1.25em;
		}

		:where(.wp-block-columns.is-layout-flex) {
			gap: 2em;
		}

		:where(.wp-block-columns.is-layout-grid) {
			gap: 2em;
		}

		.wp-block-pullquote {
			font-size: 1.5em;
			line-height: 1.6;
		}
	</style> */